extends ./template/layout.jade
	
	
// --------------- Header -------------- //
block custom_header
	script(src='/js/licencia.js')
	script(type='text/javascript').
		$(document).ready(function(){
			
		});

	
	
// --------------- Main Stuff  -------------- //
block content
	#contentPanel
		
		
		// --------------- Home Panel
		#homePanel.panel
			div
				h1 Licencias
				hr
				
			#micontenido
				div
					form(action="/create" method="POST")#createform
						legend 
							input(type="text" name="clave" placeholder="ID de la licencia")
							span.hint &nbsp;&nbsp;Creando una licencia
						br
						legend 
							input(type="text" name="owner" placeholder="Owner")
							span.hint &nbsp;&nbsp;Owner
						br
						legend 
							input(type="text" name="descripcion" placeholder="Descripcion de la licencia")
							span.hint &nbsp;&nbsp;Descripcion
						br
						legend 
							input(type="text" name="f_ini" placeholder="Fecha de inicio")
							span.hint &nbsp;&nbsp;Fecha inicio
						br
						legend 
							input(type="text" name="f_fin" placeholder="Fecha fin")
							span.hint &nbsp;&nbsp;Fecha fin
						br
						button(type="button")#submit
							span.fa.fa-check &nbsp;&nbsp;
							span CREAR LICENCIA
				div
					form(action="/create" method="POST")#createform
						legend 
							input(type="text" name="clave2" placeholder="ID de la licencia a transpasar")
							span.hint &nbsp;&nbsp;ID de la licencia a modificar
						br
						legend 
							input(type="text" name="owner2" placeholder="Nuevo owner")
							span.hint &nbsp;&nbsp;Nuevo owner de la licencia
						br
						button(type="button")#modificar
							span.fa.fa-check &nbsp;&nbsp;
							span MODIFICAR LICENCIA
		
		
		// --------------- Create Panel
		include ./panel_create.jade
		
block footer
	include ./template/blockchain.jade